<!-- app/views/shared/_unfollow.html.erb -->

<%= form_with(model: [current_user, current_user.active_relationships.find_by(followed_id: @user.id)], method: :delete, class: 'unfollow-form') do |form| %>
  <div><%= form.submit 'Unfollow', class: 'btn btn-danger' %></div>
<% end %>

